/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/

body,h1,h2,h3,h4,h5,h6,ul,li,p,table,img {
    padding: 0;
    margin: 0;
} 

/*  HEADER  */
.main-container {
    width: 800px;
    height: 640px;
    background: #cede67;
    margin: 0 auto;
    position: relative;
}

.module-header {
    background-color: #ffd300;
    width: 100%;
    height: 85px;
    border-bottom: 3px solid black;
}

.module-header h1 {
    font-size: 35px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    float: left;
    text-indent: 30px;
    padding-top: 20px;
}

.module-header h2 {
    float: right;
    font-size: 0;
}


.module {
    height: 500px;
}



/*   INIT MODULE   */
.init-module {
    position: relative;
}

.init-module:after {
    content: "";
    clear: both;
    display: block;
}

.init-module .arrow-init {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -43px;
    -webkit-animation: arrow 1s infinite ease-in;
       -moz-animation: arrow 1s infinite ease-in;
            animation: arrow 1s infinite ease-in;
}

@-webkit-keyframes arrow {
  0% {right: 10px;}
  50% {right: 20px;}
  100% {right: 10px;}
}

.init-module .copy-container {
    position: absolute;
    top: 150px;
    left: 120px;
}

.init-module .copy-container .init-copy {
    color: black;
    font-size: 100px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    padding: 0;
}

.init-module .copy-container .init-subcopy {
    color: black;
    font-size: 35px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    padding: 0;
    margin-top: 10px;
}




/*  DATA VIZ  */
.data-viz-module {
    position: relative;
}

.data-module {
    width: 85%;
    margin: 0 auto;
    margin-top: 40px;
}

.data-module:after {
    content: "";
    clear: both;
    display: block;
}

.box {
    border-radius: 10px;
    background: white;
    width: 240px;
    height: 200px;
    float: left;
    text-align: center;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    color: black;
    padding: 20px 0;
}

.summary.final .box.idle,
.summary.final .box.thanks {
    height: 70px;
}

.box p {
    font-family: Arial;
    font-weight: bold;
    color: black;
}

.box span {
    font-size: 15px;
}

.box .number-items {
    color: #03bba3;
    font-size: 110px;
    line-height: 100px;
}

.box .type-items {
    font-size: 25px;
}

.points {
    width: 420px;
    float: right;
}

.points {
    color: #03bba3;
    font-size: 110px;
    line-height: 220px;
    letter-spacing: -0.05em;
    padding-top: 20px;
}
.points span {
    letter-spacing: 0;
    color: black;
    font-size: 35px;
    margin-left: 20px;
    font-family: Arial;
}

.title-bar {
    width: 100%;
    height: 60px;
    color: white;
    font-size: 25px;
    font-family: Arial;
    font-weight: bold;
    background: #85c653;
    margin-top: 20px;
    line-height: 60px;
    text-indent: 60px;
}

.actions {
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
}

.button {
    background: #0647a8;
    border-radius: 6px;
    width: 48%;
    height: 60px;
    float: left;
    color: white;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    padding-top: 13px;
}

.button.comuna {
    float: right;
}

.button span {
    font-size: 18px;
    clear: both;
    display: block;
}

.summary .tip-title {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 25px;
    margin-left: 60px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.summary .tip-subtitle {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-left: 60px;
    line-height: 50px;
    margin-bottom: 0;
    margin-top: 0px;
}

.summary .actions > span {
    width: 100%;
    display: block;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.summary .actions .button {
    padding-top: 22px;
}

.summary .actions .button span {
    display: inline;
    margin-left: 5px;
}

.summary .title-bar {
    margin-top: 0;
}

.summary .box.counter {
    width: 100%;
    height: 100px;
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    line-height: 50px;
}

.summary .box.counter span {
    color: #03bba3;
    font-size: 50px;
}

.summary.final .box {
    height: 140px;
}

.summary.final .counter {
    font-size: 35px;
    padding-top: 45px;
}

.summary .box.counter span {
    color: #03bba3;
    font-size: 50px;
}

.cta {
    width: 100%;
    height: 90px;
    background: #135ac5;
    color: white;
    font-family: Arial;
    font-weight: bold;
    margin-top: 50px;
    font-size: 50px;
    text-align: center;
    line-height: 90px;
}

.steps {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.steps li {
    color: black;
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
}

.steps li span{
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.tu-marca-cont {
    float: left;
    width: 40%;
    padding-left: 60px;
    position: relative;
}

.referencia {
    position: absolute;
    top: 100px;
    left: 300px;
    width: 230px;
}

.referencia p {
    color: black;
    font-family: Arial;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
}

.referencia .circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #979934;
    float: left; 
    display: block;
    margin-right: 10px;
}

.referencia .circle.reutilize {
    background: #24c4da;
}

.referencia .circle.reduce {
    background: #f95645;
}

.mark-resume {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    position: absolute;
    top: 182px;
    left: 121px;
}

.tu-marca-cont h3 {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
}

.marca-user {
    height: 250px;
    width: 200px;
    position: relative;
    margin: 10px 0;
    float: left;
}

.marca-user svg {
    position: absolute;
    left: -70px;
}

.tu-marca-cont ul {
    margin: 10px 0 0 15px;
    float: left;
}

.tu-marca-cont ul li {
    list-style: none;
    width: 100%;
    height: 60px;
    display: block;
    clear: both;
}

.tu-marca-cont ul li strong {
    background: #8f9d36;
    display: block;
    width: 50px;
    height: 50px;
    color: white;
    font-family: Arial;
    font-weight: normal;
    font-size: 25px;
    border-radius: 50%;
    float: left;
    text-align: center;
    line-height: 50px;
}

/*.tu-marca-cont ul li strong.reduccion {
    background: #24c5d9;
}

.tu-marca-cont ul li strong.reutilizacion {
    background: #f75741;
}*/

.tu-marca-cont ul li span {
    float: left;
    line-height: 50px;
    margin-left: 15px;
    font-family: Arial;
    font-weight: normal;
    font-size: 18px;
    color: black;
}

.gracias-puntos {
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.gracias-puntos > div {
    font-size: 20px;
    color: #03bba3;
    display: inline;
}

.gracias-title {
    font-size: 20px;
    margin-top: 10px;
}

.marca-comuna {
    float: right;
    width: 40%;
    position: relative;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.marca-comuna svg {
    z-index: 100;
    top: 45px;
    left: -15px;
    position: absolute;
}

.marca-comuna h3 {
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.marca-comuna .location {
    font-family: Arial;
    font-size: 14px;
    color: black; 
    font-weight: bold;
}

.marca-comuna .location .highlight-name {
   color: #135ac5;
    display: inline;
}

.grafico-ciudad {
    width: 150px;
    height: 150px;
    background: green;
    margin: 10px 0;
}

.summary .box.counter.thanks {
    height: 40px;
    margin-bottom: 30px;
    line-height: 30px;
}

svg text {
    font-family: Arial;
    font-size  : 34;
    fill       : #FFF;
}



/*  FOOTER  */
.bot-img {
    background: url('../img/app/bg-bottom.jpg') no-repeat;
    position: absolute;
    bottom: 0;
    display: block;
    width: 800px;
    height: 98px;
}


