<!-- DATA VIZ -->
<section ng-hide="loading" class="module data-viz-module">
  <div class="data-module">
    <div class="box number">
      <h3> {{counter}} segundos... </h3>
      <span>Ingresaste</span>
      <div class="number-items">{{bottles}} </div>
      <p class="type-items">Botellas PET</p>
    </div>

    <div class="box points">{{points}}  <span>puntos</span></div>
  </div>

  <div class="title-bar">¿Que queres hacer?</div>

  <div class="actions">
    <div class="button">cargalo<span>en tu tarjeta</span></div>
    <div class="button comuna">suma puntos<span>en tu comuna</span></div>
  </div>
</section>
<section ng-show="loading" class="loader-module">
<div>
  <h3> {{pre}} </h3>
  <p> {{copy}}  </p>
  <h4> Un segundin....</h4>
</div>
</section>