<section class="module data-viz-module summary">
    <div class="data-module">
      <div class="box counter thanks">Llevas <span>15</span> dias separando reciclables!</div>
    </div>

    <div class="tu-marca-cont">
      <h3> Tu Marca es</h3>

      <div class="marca-user mark1"></div>

      <ul>
        <li><strong class="reciclado">{{status.user.greenmark.recycle}}</strong> <span>Reciclado</span></li>
        <li><strong class="reduccion">{{status.user.greenmark.reduce}}</strong> <span>Reduccion</span></li>
        <li><strong class="reutilizacion">{{status.user.greenmark.reutilize}}</strong> <span>Reutilizacion</span></li>

        <li class="gracias-puntos"><p class="gracias-title">Gracias!</p> ganaste <div>{{status.user.points}}</div> puntos mas!</li>
      </ul>
    </div>

    <div class="marca-comuna">
      <div class="gral-cont">
        <h3>Marca Verde comuna</h3>

        <div class="location"><p class="highlight-name">{{status.community.shortName}}</p> esta <p class="highlight-name">#{{status.community.position}}</p> en la ciudad! </div>
        <div class="marca-ciudad"></div>
      </div>

    </div>
  </section>

