<section class="module data-viz-module summary">
    <div class="data-module">

      <div class="box counter">Llevas <span>15</span> dias separando reciclables!</div>
    </div>


    <h3> Tu Marca es</h3>
    <ul>
      <li>Reciclado     <strong>{{status.user.greenmark.recycle}}</strong></li>
      <li>Reduccion     <strong>{{status.user.greenmark.reduce}}</strong></li>
      <li>Reutilizacion <strong>{{status.user.greenmark.reutilize}}</strong></li>
      <li>Gracias, ganaste {{status.user.points}} puntos mas!</li>
    </ul>


    <div class="actions">
      <span>Marca Verde comuna</span>
      <div class="button">{{status.community.shortName}} esta #{{status.community.position}} en la ciudad! </div>
      <div class="button comuna">1200<span>caba</span></div>
    </div>
  </section>